* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.fundo {
  width: 100%;
  height: 1024px;
  background: rgb(255, 253, 222);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.banco {
  width: 90%;
  background: rgb(255, 253, 222);
  opacity: 1;
  position: absolute;
  top: 275px;
  left: 46px;
  border: 10px solid rgb(126, 255, 255);
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.text-banco {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 109px;
  left: 196px;
  font-family: Keania One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.logo {
  width: 252px;
  height: 222px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 29px;
  overflow: hidden;
}
a:link { text-decoration: none; }
    
    a:visited { text-decoration: none; }
    
    a:active { text-decoration: none; }

.nosend {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 196px;
  font-family: Keania One;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
  z-index: 100;
}
table {
  width: 100%;
  background: rgb(255, 255, 255);
  opacity: 1;
  border: 1px solid rgb(126, 255, 255);
  overflow: hidden;
  font-family: Keania One;
}
td {
  text-align: center;
}
a:link { text-decoration: none; }
    
    a:visited { text-decoration: none; }
    
    a:active { text-decoration: none; }
     .ret-voltar {
      width: 214px;
      height: 58px;
      background: rgb(255, 201, 201);
      opacity: 1;
      position: absolute;
      top: 180px;
      left: 320px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }
    .voltar {
      width: 174px;
      color: rgba(0,0,0,1);
      position: absolute;
      top: 185px;
      left: 340px;
      font-family: Keania One;
      font-weight: Regular;
      font-size: 32px;
      opacity: 1;
      text-align: center;
    }
    .voltar:hover {
      transform: scale(1.2);
    }